[flake8]

# Caractere max par ligne
max-line-length = 150
# Increase the verbosity of Flake8’s output.
# verbose = 0
# Decrease the verbosity of Flake8’s output.
# quiet = 0

# Print the total number of errors.
# count = True
# Print the source code generating the error/warning in question.
# show-source = True
# Count the number of occurrences of each error/warning code and print a report.
# statistics = True

# ######### TARGETS ##########

# Redirect all output to the specified file.
# output-file = .flake8.log
# Also print output to stdout if output-file has been configured.
# tee = True

# Provide a comma-separated list of glob patterns to exclude from checks.
exclude =
    # git folder
    .git,
    # idea folder
    .idea,
    # python cache
    __pycache__,
    # Interface UI
    *_ui.py,
    # Fichier RC
    *_rc.py
    
# Provide a comma-separate list of glob patterns to include for checks.
# filename = *.py

# Set the maximum allowed McCabe complexity value for a block of code.
# max-complexity = 10

# Specify a list of codes to ignore.
# ignore = E402
# Specify the list of error codes you wish Flake8 to report.
# select =
#    E,
#    W,
#    F,
#    C
# Enable off-by-default extensions.
# enable-extensions =
