{% extends "base.html" %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# STYLES #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block stylesheets %}
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# CORPS #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
<div class="container-fluid mt-3">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-robot fa-lg text-white-100"></i>&nbsp&nbspActivité du Bot
        </h1>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-lg btn-outline-light" id='runButton'>ACTIVER</button>
            </div>

        </div>
    </div>
    <hr>
    <div id="messages" style="height: 640px;overflow-y: hidden;">
    
    </div>

    <br>

</div>
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block javascript %}
<!-- JS - DataTables + YADCF (Filters) -->
<script>
    var timer = null
    var interval = 500 // 0.5s
    // =================================================================================
    // JAVASCRIPT
    // =================================================================================
    $(document).ready(function () {
        // -- Let's GO
        setTimeout(isRunning(), config.timeout)
        //var timer = setInterval( load_data_activity(), 1000);
        //timer = setInterval(function() {load_data_activity()}, 1000);

        //setTimeout(app.stopLoader, config.timeout);
    });// -- Fin du document JAVASCRIPT
    // =================================================================================
    // -- Determine l'etat du Bot
    // =================================================================================
    function isRunning() {
        var params = { "csrfToken": config.csrfToken }
        $.post("{{ url_for('api.bot.getState') }}", params, function (result) {
            console.log(result)
            if (result.data == false) {
                clearInterval(timer);
                timer = null
                load_data_activity()
            } else if (result.data == true) {
                timer = setInterval(function () { load_data_activity() }, 1000);
            } else {
                return
            }
        }, "json")
            .done(function (msg) { })
            .fail(function (xhr, status, error) {
                notify.error(xhr.responseJSON)
                //$('#StateBot').html('<span class="badge badge-pill badge-warning">???</span>')
            })
            .always(function (xhr, status, error) {
                // -- Fin du loader
                app.stopLoader('body')
            })
    }
    // =================================================================================
    // Clique sur Run 
    // =================================================================================
    $("#runButton").click(function () {
        var $this = $(this);
        // -- Recuperation des données du Formulaire
        var params = { "csrfToken": config.csrfToken }
        // -- Chargement du loader
        app.startLoader('body')
        // -- Lancement du traitement 
        $.post("{{ url_for('api.bot.run') }}", params, function (result) { }, "json")
            .done(function (msg) { isRunning() })
            .fail(function (xhr, status, error) {
                console.log('fail')
                notify.error(xhr.responseJSON)
            }).always(function () {
                console.log('always')
                getStateBot()
                // -- Fin du loader
                app.stopLoader('body')
            });;
    });


    // =================================================================================
    // -- Chargement du Tableau
    // =================================================================================
    function load_data_activity() {
        // -- Creation d'un FormData vide
        var data = {};
        data = helpers.appendCsrfToken(data),
            // -- Lancement du traitement 
            $.post("{{ url_for('api.bot.getActivityEntries') }}", data, function (result) { }, "json")
                .done(function (msg) {
                    // -- Modification du DOM
                    //console.log(msg)
                    $.each(msg.data.entries, function (key, value) {
                        //console.log(value)
                        if ($('#' + value.id).length > 0) {
                            // code to run if it isn't there
                            return
                        }
                        // -- Parse de la Date
                        tmpDate = moment.utc(value.TimeStampUtc).tz(config.timeZone)
                        // -- Construction du texte
                        text = ""
                        text += "<div id='" + value.id + "'>"
                       
                        text += tmpDate.format("ddd DD MMM YYYY HH:mm:ss") + "&nbsp&nbsp >>> &nbsp&nbsp"

                        // -- Categorie
                        switch (value.LogLevelName) {
                            case 'INFO':
                                text += "<span class='font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                            case 'ERROR':
                                text += "<span class='text-danger font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                            case 'DEBUG':
                                text += "<span class='text-secondary font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                            case 'WARNING':
                                text += "<span class='text-warning font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                            default:
                                text += "<span class='font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                        }
                        text += "</span>"
                        // Delai
                        //text += "<span class='float-md-right font-italic'>" + tmpDate.fromNow() + "</span>"
                       
                        text += "</div>"
                        $("#messages").append(text)
                    });
                    console.log('HEIGHT : ' + $("#log-container").scrollHeight)
                    // -- Auto Scroll
                    const messages = document.getElementById('messages');
                    shouldScroll = messages.scrollTop + messages.clientHeight === messages.scrollHeight;
                    if (!shouldScroll) {
                        messages.scrollTop = messages.scrollHeight;
                    }
                    //console.log(shouldScroll)
                    //$("#log-container").animate({ scrollTop: $(document).scrollHeight()}, 500);


                }).fail(function (xhr, status, error) {
                    console.log('fail')
                    notify.error(xhr.responseJSON)
                }).always(function () {
                    console.log('always')
                    // -- Auto Scroll
                    //$("#log-container").scrollTop($("#log-container").height())

                    // -- Fin du loader
                    app.stopLoader('body')

                });
    }

</script>
{% endblock %}