{% extends "base.html" %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# STYLES #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block stylesheets %}
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# CORPS #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
<div class="container-fluid mt-3">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-robot fa-lg text-white-100"></i>&nbsp&nbspActivité du Bot</h1>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-lg btn-outline-danger" id='runButton'>Arreter</button>
            </div>

        </div>
    </div>
    <hr>
    <div id="log-container" style="min-height: 650px;max-height: 650px;overflow-y: auto;" class="container-fluid">
        <ul class="list-group" id="log">

        </ul>
    </div>
    <br>

</div>
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block javascript %}
<!-- JS - DataTables + YADCF (Filters) -->
<script>
    var timer = null
    var interval = 1000 // 1s
    // =================================================================================
    // JAVASCRIPT
    // =================================================================================
    $(document).ready(function () {
        // -- Let's GO
        //setTimeout(load_data_activity(), config.timeout)
        //var timer = setInterval( load_data_activity(), 1000);
        //timer = setInterval(function() {load_data_activity()}, 1000);

        setTimeout(app.stopLoader, config.timeout);
    });// -- Fin du document JAVASCRIPT
    // =================================================================================
    // Clique sur Run 
    // =================================================================================
    $("#runButton").click(function () {
        var $this = $(this);
        // -- Recuperation des données du Formulaire
        ($this.html() == 'Arreter') ? toState = 1 : toState = 0
        params = {
            "toState": toState
        }
        // -- Chargement du loader
        app.startLoader('body')
        // -- Lancement du traitement 
        $.post("{{ url_for('api.bot.run') }}", params, function (result) {}, "json")
        .done(function(msg){ 
            if (msg.mess == 'RUN'){
                //$("#runButton").removeClass().addClass('btn btn-outline-success btn-lg')
                //$("#runButton").html('Demarrer')
                if (timer !== null) return;
                timer = setInterval(function() {load_data_activity()}, interval);
            }else if (msg.mess == 'STOP'){
                //$("#runButton").removeClass().addClass('btn btn-outline-danger btn-lg')
                //$("#runButton").html('Arreter')
                clearInterval(timer);
                timer = null
            }
        })
        .fail(function(xhr, status, error) {
            console.log('fail')
            notify.error(xhr.responseJSON)
        }).always(function () {
            console.log('always')
            // -- Fin du loader
            app.stopLoader('body')
        });;
        });

    // =================================================================================
    // -- Chargement du Tableau
    // =================================================================================
    function load_data_activity() {
        // -- Creation d'un FormData vide
        var data = {};
        data = helpers.appendCsrfToken(data),
            // -- Lancement du traitement 
            $.post("{{ url_for('api.bot.getActivityEntries') }}", data, function (result) { }, "json")
                .done(function (msg) {
                    console.log('done')
                    if (msg.data.state == 'RUN'){
                        $("#runButton").removeClass().addClass('btn btn-outline-success btn-lg')
                        $("#runButton").html('Demarrer')
                        if (timer !== null) return;
                        timer = setInterval(function() {load_data_activity()}, interval);
                        
                    }else if (msg.mess == 'STOP'){
                        $("#runButton").removeClass().addClass('btn btn-outline-danger btn-lg')
                        $("#runButton").html('Arreter')
                        clearInterval(timer);
                        timer = null
                        return
                    }
                    // -- Modification du DOM
                    //console.log(msg)
                    $.each(msg.data.entries, function (key, value) {
                        //console.log(value)
                        if ($('#' + value.id).length > 0) {
                            // code to run if it isn't there
                            return
                        }
                        // -- Parse de la Date
                        tmpDate = moment.utc(value.TimeStampUtc).tz(config.timeZone)
                        // -- Construction du texte
                        text = ""
                        text += "<div class='row' id='" + value.id + "'>"
                        text += "   <div class='col-lg-12 col-md-12 col-sm-12 text-left'>"

                        text += "<span class='float-md-left'>"
                        text += tmpDate.format("ddd DD MMM YYYY HH:mm:ss") + "&nbsp&nbsp >>> &nbsp&nbsp"

                        // -- Categorie
                        switch (value.LogLevelName) {
                            case 'INFO':
                                text += "<span class='text-info font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                            case 'ERROR':
                                text += "<span class='text-danger font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                            case 'WARNING':
                                text += "<span class='text-warning font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                            default:
                                text += "<span class='font-weight-bold'>" + value.Message + "</span>" + "&nbsp"
                                break;
                        }
                        text += "</span>"
                        // Delai
                        text += "<span class='float-md-right font-italic'>" + tmpDate.fromNow() + "</span>"
                        text += "</div>"
                        text += "</div>"
                        $("#log").append(text)
                        /*
                        // -- Construction du Text
                        //moment(value.TimeStampUtc).tz(config.timeZone).format("ddd DD MMM YYYY HH:mm:ss")
                        text = ''
                        switch (value.LogLevelName) {
                            case 'DEBUG':
                                text = '<a class="list-group-item list-group-item-warning text-dark">'
                                break;
                            case 'ERROR':
                                text = '<a class="list-group-item list-group-item-danger text-dark">'
                                break;
                            default:
                                text = '<a class="list-group-item">';
                                break;
                        }
                        //text += value.TimeStampUtc + "-" + value.Message
                        text += '<div class="d-flex w-100 justify-content-between">'
                        text += '<h5 class="mb-1"><span class="badge badge-info">' + value.LogLevelName + '</span>&nbsp&nbsp&nbsp' + tmpDate.format("ddd DD MMM YYYY HH:mm:ss") + '</h5>'
                        text += '<small>' + tmpDate.fromNow() + '</small>'
                        text += '</div>'
                        text += '<p class="mb-1 font-weight-bold">' + value.Message + '</p>'
                        //text += '<small>Donec id elit non mi porta.</small>'
                        text += '</a>'
                        */
                        

                    });

                })
                .fail(function (xhr, status, error) {
                    console.log('fail')
                    notify.error(xhr.responseJSON)
                }).always(function () {
                    console.log('always')
                    // -- Auto Scroll
                    //$("#log-container").scrollTop($("#log-container").height())
                    $("#log-container").animate({ scrollTop: $(document).height() +1000 }, 500);
                    // -- Fin du loader
                    app.stopLoader('body')

                });
    }

</script>
{% endblock %}