{% extends "base.html" %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# STYLES #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block stylesheets %}
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# CORPS #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
    <div class="container-fluid mt-3">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-newspaper"></i>&nbspActivité&nbsp
                        <span id="SpanTotalGlobale" class="badge badge-dark">0</span>
                    </h1>
                </div>
                <hr>
                <ul class="list-group" id="log">

                </ul>
                <br>
        
    </div>
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block javascript %}
<!-- JS - DataTables + YADCF (Filters) -->

<script>
    // =================================================================================
    // JAVASCRIPT
    // =================================================================================
    $(document).ready(function () {
        // -- Let's GO
        setTimeout(load_data_activity(), config.timeout)
    });// -- Fin du document JAVASCRIPT
    // =================================================================================
    // -- Chargement du Tableau
    // =================================================================================
    function load_data_activity() {
        // -- Creation d'un FormData vide
        var data = {};
        data = helpers.appendCsrfToken(data),
        // -- Lancement du traitement 
        $.post("{{ url_for('api.admin.getActivityEntries') }}", data, function (result) {}, "json")
        .done(function(msg){ 
            console.log('done')
            // -- Modification du DOM
            console.log(msg)
            $.each( msg.data, function( key, value ) {
                console.log(value)
                // -- Parse de la Date
                tmpDate = moment.utc(value.TimeStampUtc).tz(config.timeZone)
                // -- Construction du Text
                //moment(value.TimeStampUtc).tz(config.timeZone).format("ddd DD MMM YYYY HH:mm:ss")
                text = ''
                switch (value.LogLevelName) {
                    case 'DEBUG':
                        text = '<a class="list-group-item list-group-item-warning text-dark">'
                        break;
                    case 'ERROR':
                        text = '<a class="list-group-item list-group-item-danger text-dark">'
                        break;
                    default:
                        text = '<a class="list-group-item">';
                        break;
                }
                //text += value.TimeStampUtc + "-" + value.Message
                text += '<div class="d-flex w-100 justify-content-between">'
                text += '<h5 class="mb-1"><span class="badge badge-info">' + value.LogLevelName + '</span>&nbsp&nbsp&nbsp' + tmpDate.format("ddd DD MMM YYYY HH:mm:ss") + '</h5>'
                text += '<small>' + tmpDate.fromNow() + '</small>'
                text += '</div>'
                text += '<p class="mb-1 font-weight-bold">' + value.Message + '</p>'
                //text += '<small>Donec id elit non mi porta.</small>'
                text += '</a>'
                $("#log").append(text)
            });
            
        })
        .fail(function(xhr, status, error) {
            console.log('fail')
            notify.error(xhr.responseJSON)
        }).always(function () {
            console.log('always')
            // -- Fin du loader
            app.stopLoader('body')
        });
    }
    
</script>
{% endblock %}