{% extends "base.html" %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# STYLES #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block stylesheets %}
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# CORPS #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
    <div class="container-fluid mt-3">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><span class="fas fa-hammer"></span>&nbspConfiguration&nbsp</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"  id="SaveConfigButton"><i
                class="fas fa-folder-plus"></i>&nbspEnregistrer</a>
        </div>
        <hr>

        <form class="needs-validation" novalidate id="form-config">
            <!-- TIMEZONE -->
            <div class="form-group row">
              <label for="time_zone" class="col-sm-2 col-form-label">TimeZone</label>
              <div class="col-sm-10">
                <input type="input" class="form-control bg-dark font-weight-bold text-info" name="time_zone" id="time_zone" placeholder="TimeZone de Reference pour l'application et le Bot" value="" required>
              </div>
            </div>
            <!-- HORAIRES DE TRADING -->
            <div class="form-group row">
              <label for="hour_start" class="col-sm-2 col-form-label">Horaires des Sessions</label>
              <div class="col-sm-5">
                <input type="input" class="form-control bg-dark font-weight-bold text-info" name="hour_start" id="hour_start" maxlength="5" placeholder="Debut"
                pattern="[0-9][0-9]:[0-9][0-9]" value="" required>
                <div class="valid-feedback">
                    Veuillez saisir un format d'heure HH:MM
                </div>
              </div>
              <div class="col-sm-5">
                <input type="input" class="form-control bg-dark font-weight-bold text-info" name="hour_end" id="hour_end" maxlength="5" placeholder="Fin"  
                pattern="[0-9][0-9]:[0-9][0-9]" value="" required>
                <div class="valid-feedback">
                    Veuillez saisir un format d'heure HH:MM
                </div>
              </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2 col-form-label">Compte de Trading</div>
                <div class="col-sm-2">
                    <div class="custom-control custom-checkbox" style='padding-top: 0.3rem;'>
                        <input type="checkbox" class="custom-control-input" name="use_demo_account" id="use_demo_account">
                        <label class="custom-control-label" for="use_demo_account">Utiliser le compte de DEMO ?</label>
                      </div>
                </div>
                <div class="col-sm-8">
                    <input type="input" class="form-control bg-dark font-weight-bold text-info" name="filepathCredentials" id="filepathCredentials"  placeholder="Path vers le fichiers des identifiants XTB"  
                     value="" required>
                    <div class="valid-feedback">
                        Veuillez saisir un format d'heure HH:MM
                    </div>
                  </div>

            </div>
            <h4>Robot</h4>
            <div class="form-group row">
                <div class="col-sm-2 col-form-label">Interval de boucle</div>
                <div class="col-sm-10">
                        <input type="input" class="form-control bg-dark font-weight-bold text-info" name="spin_interval" id="hour_end" maxlength="3" placeholder="Temps d'attente entre deux boucles"  
                        pattern="[0-90][a-z]" value="" required>
                        <div class="valid-feedback">
                            Veuillez saisir un format valide
                        </div>
                </div>
                

            </div>

          </form>
    </div>
    

{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block javascript %}

<script>
    // =================================================================================
    // JAVASCRIPT
    // =================================================================================
    $(document).ready(function () {
        // -- Let's GO
        setTimeout(load_data_form(), config.timeout)
    });// -- Fin du document JAVASCRIPT
    // =================================================================================
    // -- Affichage Modal AJOUTER
    // =================================================================================
    $("#SaveConfigButton").click(function (e) {
        if ($("#form-config")[0].checkValidity()) {
            e.preventDefault();
            // -- Recuperation des données du Formulaire
            params = helpers.serializetoFormData('#form-config', true)
            console.log(params)
            // -- Envoi requete
            ajax.send("{{ url_for('api.admin.updateParam') }}", params, null)
        } else {
            //Validate Form
            $("#form-config")[0].reportValidity()
        }
    });
    // =================================================================================
    // -- Chargement du Tableau
    // =================================================================================
    function load_data_form() {
        // -- Reset du Form
        $("#form-config").trigger('reset');
        // -- Chargement du loader
        app.startLoader('body')
        // -- Creation d'un FormData vide
        var data = {};
        data = helpers.appendCsrfToken(data),
        // -- Lancement du traitement 
        $.post("{{ url_for('api.admin.getParam') }}", data, function (result) {}, "json")
        .done(function(msg){ 
            console.log('done')
            // -- Modification du DOM
            // TIME
            $('#form-config').find("input[name=time_zone]").val(msg.data.time.time_zone)
            $('#form-config').find("input[name=hour_start]").val(msg.data.time.hour_start)
            $('#form-config').find("input[name=hour_end]").val(msg.data.time.hour_end)
            $('#form-config').find("input[name=use_demo_account]").val(msg.data.broker.use_demo_account)
            $('#form-config').find("input[name=spin_interval]").val(msg.data.spin_interval)
            
            if(msg.data.broker.use_demo_account == 0){
                $('#form-config').find("input[name=use_demo_account]").attr('checked', false);
            }else{
                $('#form-config').find("input[name=use_demo_account]").attr('checked', true);
            }

            $('#form-config').find("input[name=filepathCredentials]").val(msg.data.broker.filepathCredentials)
            

            // EVALUATION
            
            // GRAPHIQUE
            // POSITIONS EN COURS
            // ORDRES
            // CALENDRIER
        })
        .fail(function(xhr, status, error) {
            console.log('fail')
            notify.error(xhr.responseJSON)
        }).always(function () {
            console.log('always')
            // -- Fin du loader
            app.stopLoader('body')
        });
    }

</script>
{% endblock %}