{% extends "base.html" %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# STYLES #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block stylesheets %}
<!-- DataTables + YADCF Filters -->
<link href="{{url_for('static', filename='assets/datatables/1.10.20/datatables.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/css/buttons.bootstrap4.min.css')}} " rel="stylesheet">
<link href="{{url_for('static', filename='assets/datatables/1.10.20/FixedHeader-3.1.6/css/fixedHeader.bootstrap4.min.css')}} " rel="stylesheet">
<link href="{{url_for('static', filename='assets/datatables/1.10.20/ColReorder-1.5.2/css/colReorder.bootstrap4.min.css')}} " rel="stylesheet">
<link href="{{url_for('static', filename='assets/datatables/1.10.20/RowGroup-1.1.1/css/rowGroup.bootstrap4.min.css')}} " rel="stylesheet">
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# CORPS #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
    <div class="container-fluid mt-3">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><i class="fas fa-glasses"></i>&nbspObservateur URL&nbsp<span id="SpanTotalGlobale" class="badge badge-dark">0</span></h1>
        </div>
        <hr>
        <table id="table" class="table table-striped" style="width:100%"></table>
    </div>
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block javascript %}
<!-- JS - DataTables + YADCF (Filters) -->
<script src="{{url_for('static', filename='assets/datatables/1.10.20/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/FixedColumns-3.3.0/js/fixedColumns.bootstrap4.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/dataTables.buttons.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/buttons.bootstrap4.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/JSZip-2.5.0/jszip.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/pdfmake-0.1.36/pdfmake.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/pdfmake-0.1.36/vfs_fonts.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/buttons.html5.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/buttons.print.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/buttons.colVis.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/ColReorder-1.5.2/js/dataTables.colReorder.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/FixedHeader-3.1.6/js/dataTables.fixedHeader.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/RowGroup-1.1.1/js/rowGroup.bootstrap4.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/yadcf/0.9.3/jquery.dataTables.yadcf.js')}} "></script>
<script src="{{url_for('static', filename='js/app_dt_default.js')}} "></script>
<script>
    // =================================================================================
    // JAVASCRIPT
    // =================================================================================
    $(document).ready(function () {
        load_data_table();
    });// -- Fin du document JAVASCRIPT
    // =================================================================================
    // -- Chargement du Tableau
    // =================================================================================
    function load_data_table() {
        table = $('#table').DataTable({
            // -- ------------------ --
            // -- PARAMETRE GENERAUX
            // -- ------------------ --
            "language": {
                "url": "/static/assets/datatables/French.json"         // Traduction en francais
            },
            destroy: true,
            paging: true, // Pagination
            pageLength: 10, // Nombre par pages
            bFilter: true, // Barre de Recherche
            ordering: false, // Autoriser le Sort.
            lengthChange: false,
            info: true, // Information en bas de page
            fixedHeader: true, // Fixation du Header
            colReorder: false, // Reordonner les colonnes
            // -- ------------------ --
            // -- APPEL AJAX
            // -- ------------------ --

            "ajax": {
                "url": "{{ url_for('api.admin.getWatcherEntries') }}",
                "data": {
                    "csrfToken": config.csrfToken
                },
                "dataSrc": function (json) {
                    if (app.loadTable(json) == true) {
                        return json.data;
                    }
                    // Verification de la reponse
                    /*
                    Si mauvaise reponse, 
                        On arrete le loader
                        On affiche un message
                        On stop le traitement
                    */
                    return null;
                },
                error: function (xhr, error, code)
                {
                    notify.error(xhr.responseJSON)
                    app.stopLoader()
                },
                "type": "POST"
            },
            // -- ------------------ --
            // -- EVENEMENT
            // -- ------------------ --
            "drawCallback": function (settings, json) {
                $('#SpanTotalGlobale').html(settings.aiDisplay.length);
            },
            "initComplete": function (settings, json) {
                $('#table').DataTable().buttons().container().appendTo('#table_wrapper .col-md-6:eq(0)');
                $('#table thead').addClass('thead-dark');
                finishload();
            },
            // -- ------------------ --
            // -- APPEL AJAX
            // -- ------------------ --
            
            "columns": [
                { "title": "DATE", "data": "TimeStampUtc", index: 0 },
                { "title": "IP", "data": "ip", index: 1 },
                { "title": "UTILISATEUR", "data": "user", index: 2 },
                { "title": "LOGIN", "data": "userId", index: 3 },
                { "title": "METHODE", "data": "method", index: 4 },
                { "title": "SCHEMA", "data": "scheme", index: 5 },
                { "title": "URL", "data": "path", index: 6 },
                { "title": "STATUS", "data": "status", index: 7 },
                { "title": "API", "data": "api", index: 8 },
            ],
            "order": [[1, "desc"]],
            "createdRow": (row, data, dataIndex) => {
                if(data["status"] == "200 OK"){   
                    $(row).addClass("table-success");
                }else if(data["status"] == "404 NOT FOUND"){   
                    $(row).addClass("table-danger");
                }else{
                    $(row).addClass("table-info");
                }
            },
            "columnDefs": [
                // -- Formatage du Champ DATE
                { "type": "html", "targets": [0], "visible": true, "searchable": true, className: 'text-left font-weight-bold', defaultContent: "",
                    render: function (data, type, row, meta) {
                        return formatDt.DateTimeBasicFormatter(data, type, row)
                    }
                },
                // -- Formatage du Champ IP
                {"type": "html", "targets": [1], "visible": true, "searchable": true, className: 'text-center', defaultContent: ""},
                // -- Formatage du Champ UTILISATEUR
                {"type": "html", "targets": [2], "visible": true, "searchable": true, className: 'text-center', defaultContent: ""},
                // -- Formatage du Champ LOGIN
                {"type": "html", "targets": [3], "visible": false, "searchable": true, className: 'text-center', defaultContent: ""},
                // -- Formatage du Champ METHODE
                { "type": "html", "targets": [4], "visible": true, "searchable": true, className: 'text-center', defaultContent: "" },
                // -- Formatage du Champ SCHEMA
                {"type": "html", "targets": [5], "visible": false, "searchable": true, className: 'text-center', defaultContent: ""},
                // -- Formatage du Champ URL
                { "type": "html", "targets": [6], "visible": true, "searchable": true, className: 'text-left font-italic', defaultContent: "" },
                // -- Formatage du Champ STATUS
                {"type": "html", "targets": [7], "visible": true, "searchable": true, className: 'text-center', defaultContent: ""},
                // -- Formatage du Champ API
                {"type": "html", "targets": [8], "visible": true, "searchable": true, className: 'text-center ', defaultContent: ""},
            ],
        });
    }
    // =================================================================================
    // Finalisation du Chargement
    // =================================================================================
    function finishload() {
        // -- Filtrage des informations
        yadcf.init(table, [
            // Filtre sur SIGNAL
            /*
            {
               column_number: 3, filter_reset_button_text: false, style_class: "custom-select",
               filter_type: 'select',
               data: [{
                  value: ' ',
                  label: 'Vides'
               }],
               append_data_to_table_data: 'before',
               filter_match_mode: 'exact',
               filter_default_label: "Tous"
            },
            */
        ])
        app.stopLoader()
    }
</script>
{% endblock %}