{% extends "base.html" %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# STYLES #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block stylesheets %}
<!-- BOKEH -->
{{ data.css_resources|indent(4)|safe }}
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# CORPS #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
<div class="container-fluid mt-3">
  {{ data.plot_div|safe }}
</div>
<!--/.container-->
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block javascript %}
<!-- BOKEH -->
{{ data.plot_script|indent(4)|safe }}
{{ data.js_resources|indent(4)|safe }}
<script>
  // =================================================================================
  // JAVASCRIPT
  // =================================================================================
  $(document).ready(function () {
    setTimeout(app.stopLoader, config.timeout );
  });// -- Fin du document JAVASCRIPT
</script>

{% endblock %}