{% extends "base.html" %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# STYLES #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block stylesheets %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# CORPS #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
    <div class="container-fluid mt-3">
        <h1 class="display-4"><i class="fab fa-stack-exchange"></i>&nbspChangements</h1>
        <hr>
        {{data.markdown|safe}}
    </div>
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block javascript %}
<script>
    // =================================================================================
    // JAVASCRIPT
    // =================================================================================
    $(document).ready(function(){
        setTimeout(app.stopLoader, config.timeout );
    });// -- Fin du document JAVASCRIPT
</script>   
{% endblock %}