{% extends "base.html" %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# STYLES #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block stylesheets %}
<!-- DataTables + YADCF Filters -->
<link href="{{url_for('static', filename='assets/datatables/1.10.20/datatables.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/css/buttons.bootstrap4.min.css')}} " rel="stylesheet">
<link href="{{url_for('static', filename='assets/datatables/1.10.20/FixedHeader-3.1.6/css/fixedHeader.bootstrap4.min.css')}} " rel="stylesheet">
<link href="{{url_for('static', filename='assets/datatables/1.10.20/ColReorder-1.5.2/css/colReorder.bootstrap4.min.css')}} " rel="stylesheet">
<link href="{{url_for('static', filename='assets/datatables/1.10.20/RowGroup-1.1.1/css/rowGroup.bootstrap4.min.css')}} " rel="stylesheet">
<!-- BOKEH -->
{{ data.css_resources|indent(4)|safe }}
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# CORPS #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block content %}
<input type='hidden' id='id' name='id' value="{{data.id}}">

<div class="container-fluid mt-3">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">
      <span class="badge badge-primary" id='symbol'></span>&nbsp&nbsp
      <span id='description'></span>&nbsp&nbsp
      <button type="button" class="btn btn-outline-warning btn-sm" id="tradeable">???</button>
    </h1>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link btn-sm active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info" role="tab"
            aria-controls="v-pills-info" aria-selected="true"><i class="fas fa-info-circle"></i>&nbspInformations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-sm" id="v-pills-graph-tab" data-toggle="pill" href="#v-pills-graph" role="tab"
            aria-controls="v-pills-graph" aria-selected="false"><i class="far fa-chart-bar"></i>&nbspOHLC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-sm" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab"
            aria-controls="v-pills-orders" aria-selected="false"><i class="fab fa-first-order-alt"></i>&nbspOrdres</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- -------------------------------------------------------- -->
  <!-- -------------------------------------------------------- -->
  <!-- -------------------------------------------------------- -->
  <!-- CONTENU -->
  <!-- -------------------------------------------------------- -->
  <!-- -------------------------------------------------------- -->
  <!-- -------------------------------------------------------- -->
  <div class="tab-content" id="v-pills-tabContent">
    <!-- -------------------------------------------------------- -->
    <!-- INFORMATIONS  -->
    <!-- -------------------------------------------------------- -->
    <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
      <p class="lead">
        Le marché a été crée le <u><span id='created_at_utc'></span></u> et modifié le <u><span id='updated_at_utc'></span></u>       
      </p>

      <div class="row">
        <!-- Card du Portefeuille-->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-toolbox"></i>&nbspGroupement
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col font-weight-bold">Categorie</div>
                <div class="col text-right"> 
                  <span id='categoryName'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Groupe</div>
                <div class="col text-right"> 
                  <span id='groupName'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Monnaie</div>
                <div class="col text-right"> 
                  <span id='currency'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Monnaie (Profit)</div>
                <div class="col text-right"> 
                  <span id='currencyProfit'></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card des Signaux-->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-toolbox"></i>&nbspContrats
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col font-weight-bold">Taille de Contrat</div>
                <div class="col text-right"> 
                  <span id='contractSize'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Leverage</div>
                <div class="col text-right"> 
                  <span id='leverage'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Minimum</div>
                <div class="col text-right"> 
                  <span id='lotMin'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Maximum</div>
                <div class="col text-right"> 
                  <span id='lotMax'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Incrément</div>
                <div class="col text-right"> 
                  <span id='lotStep'></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Card des Portefeuille-->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-toolbox"></i>&nbspPortefeuille
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col font-weight-bold">Pips (Precision)</div>
                <div class="col text-right"> 
                  <span id='pipsPrecision'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">Precision</div>
                <div class="col text-right"> 
                  <span id='precision'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">tickSize</div>
                <div class="col text-right"> 
                  <span id='tickSize'></span>
                </div>
              </div>
              <div class="row">
                <div class="col font-weight-bold">tickValue</div>
                <div class="col text-right"> 
                  <span id='tickValue'></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- // Fin de la Ligne -->
      <br>
    </div>
    <!-- -------------------------------------------------------- -->
    <!-- GRAPHIQUE  -->
    <!-- -------------------------------------------------------- -->
    <div class="tab-pane fade" id="v-pills-graph" role="tabpanel" aria-labelledby="v-pills-graph-tab">
      {{ data.plot_div|safe }}
    </div>
    <!-- -------------------------------------------------------- -->
    <!-- ORDERS  -->
    <!-- -------------------------------------------------------- -->
    <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
      <table id="table" class="table table-striped py-3" style="width:100%"></table>
    </div>
  </div>
</div>
<!--/.container-->


{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{# JAVASCRIPT #}
{# ------------------------------------------------------------------------------------------------------------------------------------------- #}
{% block javascript %}
<!-- JS - DataTables + YADCF (Filters) -->
<script src="{{url_for('static', filename='assets/datatables/1.10.20/datatables.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/FixedColumns-3.3.0/js/fixedColumns.bootstrap4.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/dataTables.buttons.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/buttons.bootstrap4.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/JSZip-2.5.0/jszip.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/pdfmake-0.1.36/pdfmake.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/pdfmake-0.1.36/vfs_fonts.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/buttons.html5.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/buttons.print.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/Buttons-1.6.1/js/buttons.colVis.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/ColReorder-1.5.2/js/dataTables.colReorder.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/FixedHeader-3.1.6/js/dataTables.fixedHeader.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/datatables/1.10.20/RowGroup-1.1.1/js/rowGroup.bootstrap4.min.js')}} "></script>
<script src="{{url_for('static', filename='assets/yadcf/0.9.3/jquery.dataTables.yadcf.js')}} "></script>
<script src="{{url_for('static', filename='js/app_dt_default.js')}} "></script>
<script src="{{url_for('static', filename='js/format.js')}} "></script>
<!-- BOKEH -->
{{ data.plot_script|indent(4)|safe }}
{{ data.js_resources|indent(4)|safe }}
<script>
  // =================================================================================
  // JAVASCRIPT
  // =================================================================================
  $(document).ready(function () {
    //setTimeout(app.stopLoader, config.timeout );
    load_data()
    
  });// -- Fin du document JAVASCRIPT
  // =================================================================================
  // Clique sur Dashboard (Hebdomadaire)
  // =================================================================================
  $("#tradeable").click(function () {
      var $this = $(this);

      // -- Recuperation des données du Formulaire
      ($this.html() == 'Actif') ? trade = 0 : trade = 1 
      params = {
        "id": $("input[name=id]").val(),
        "trade": trade
      }
      // -- Verification si id est saisie, si oui : UPDATE
      ajax.send("{{ url_for('api.markets.updateById') }}", params, "load_data()")
  });

  // =================================================================================
  // Chargement des Données
  // =================================================================================
  function load_data(period) {
    // -- Creation d'un FormData vide
    var data = { 'id': $("input[name=id]").val() };
    data = helpers.appendCsrfToken(data),
    // -- Chargement du loader
    app.startLoader('body')
    // -- Lancement du traitement 
    $.post("{{ url_for('api.markets.getMarketById') }}", data, function (result) { }, "json")
      .done(function (msg) {
        console.log('done')
        // -- Modification du DOM
        $("#description").html(msg.data.info[0].description)
        $("#symbol").html(msg.data.info[0].symbol)
        $("#created_at_utc").html(formatDt.TimestampBasicFormatter(msg.data.info[0].created_at_utc, 'display', null)) 
        $("#updated_at_utc").html(formatDt.TimestampBasicFormatter(msg.data.info[0].updated_at_utc, 'display', null)) 
        // roupement
        $("#categoryName").html(msg.data.info[0].categoryName)
        $("#currency").html(msg.data.info[0].currency)
        $("#currencyProfit").html(msg.data.info[0].currencyProfit)
        $("#groupName").html(msg.data.info[0].groupName)
        // Contract
        $("#contractSize").html(msg.data.info[0].contractSize)
        $("#leverage").html(msg.data.info[0].leverage)
        $("#lotMax").html(msg.data.info[0].lotMax)
        $("#lotMin").html(msg.data.info[0].lotMin)
        $("#lotStep").html(msg.data.info[0].lotStep)
        // 
        $("#pipsPrecision").html(msg.data.info[0].pipsPrecision)
        $("#precision").html(msg.data.info[0].precision)
        $("#tickSize").html(msg.data.info[0].tickSize)
        $("#tickValue").html(msg.data.info[0].tickValue)

        if(msg.data.info[0].trade == 0){
          $("#tradeable").removeClass().addClass('btn btn-outline-danger btn-sm')
          $("#tradeable").html('Inactif')
        }else if(msg.data.info[0].trade == 1){
          $("#tradeable").removeClass().addClass('btn btn-outline-success btn-sm')
          $("#tradeable").html('Actif')
        }
        load_data_table()
      })
      .fail(function (xhr, status, error) {
        console.log('fail')
        notify.error(xhr.responseJSON)
      }).always(function () {
        console.log('always')
        // -- Fin du loader
        app.stopLoader('body')
      });;
  }

  // =================================================================================
    // -- Chargement du Tableau
    // =================================================================================
    function load_data_table() {
        table = $('#table').DataTable({
            // -- ------------------ --
            // -- PARAMETRE GENERAUX
            // -- ------------------ --
            "language": {
                "url": "/static/assets/datatables/French.json"         // Traduction en francais
            },
            destroy: true,
            paging: true, // Pagination
            pageLength: 10, // Nombre par pages
            bFilter: true, // Barre de Recherche
            ordering: false, // Autoriser le Sort.
            lengthChange: false,
            responsive:true,
            info: true, // Information en bas de page
            fixedHeader: true, // Fixation du Header
            colReorder: false, // Reordonner les colonnes
            // -- ------------------ --
            // -- APPEL AJAX
            // -- ------------------ --

            "ajax": {
                "url": "{{ url_for('api.orders.getOrdersBySymbol') }}",
                "data": {
                    "csrfToken": config.csrfToken,
                    "symbol": $("#symbol").html()
                },
                "dataSrc": function (json) {
                    if (app.loadTable(json) == true) {
                        return json.data;
                    }
                    // Verification de la reponse
                    /*
                    Si mauvaise reponse, 
                        On arrete le loader
                        On affiche un message
                        On stop le traitement
                    */
                    return null;
                },
                error: function (xhr, error, code) {
                    notify.error(xhr.responseJSON)
                    app.stopLoader()
                },
                "type": "POST"
            },
            // -- ------------------ --
            // -- EVENEMENT
            // -- ------------------ --
            "drawCallback": function (settings, json) {
                $('#SpanTotalGlobale').html(settings.aiDisplay.length);
            },
            "initComplete": function (settings, json) {
                $('#table').DataTable().buttons().container().appendTo('#table_wrapper .col-md-6:eq(0)');
                //$('#table thead').addClass('thead-dark');
                finishload();
            },
            // -- ------------------ --
            // -- APPEL AJAX
            // -- ------------------ --
            //symbol,-- orders.order,open_time,close_time,-- delai,open_price,close_price,spread,timestamp,volume,sl,tp,margin_rate,commission,profit,-- type,storage,closed,comment,customComment
            "columns": [
                { "title": "ID", "data": "id", index: 0 },
                { "title": "EVAL", "data": null, index:1 },
                { "title": "SYMBOL", "data": "symbol", index: 2 },
                { "title": "SENS", "data": null, index:3 },
                { "title": "OUVERTURE", "data": "open_time", index: 4 },
                { "title": "FERMETURE", "data": "close_time", index: 5 },
                { "title": "DELAI", "data": "delai", index: 6 },
                { "title": "OPEN", "data": "open_price", index: 7 },
                { "title": "SL", "data": "sl", index: 8 },
                { "title": "TP", "data": "tp", index: 9 },
                { "title": "CLOSE", "data": "close_price", index: 10 },
                { "title": "SIZE", "data": "volume", index: 11 },
                { "title": "COUT", "data": "commission", index: 12 },
                { "title": "G/P", "data": "profit", index: 13 },
                { "title": "COMMENTAIRES", "data": "comment", index: 14 },
                

            ],
            "order": [[1, "desc"]],
            "columnDefs": [
                // -- Formatage du Champ ID
                { "type": "html", "targets": [0], "visible": false, "searchable": true, className: 'text-center', defaultContent: "" },
                // -- Formatage du Champ EVAL
                { "type": "html", "targets": [1], "visible": true, "searchable": false, className: 'text-center', defaultContent: "",
                    render: function (data, type, row, meta) {
                            return formatDt.EvalFormatter(data, type, row)
                    }
                },

                // -- Formatage du Champ SYMBOL
                {
                    "type": "html", "targets": [2], "visible": false, "searchable": true, className: 'text-left text-info font-weight-bold', defaultContent: "",
                },
                 // -- Formatage du Champ SENS
                 {
                    "type": "html", "targets": [3], "visible": true, "searchable": true, className: 'text-center font-weight-bold', defaultContent: "",
                    render: function (data, type, row, meta) {
                            return formatDt.DirectionFormatter(data, type, row)
                    }
                },
                // -- Formatage du Champ OUVERTURE
                { "type": "html", "targets": [4], "visible": true, "searchable": true, className: 'text-center', defaultContent: "",
                    render: function (data, type, row, meta) {
                        return formatDt.TimestampBasicFormatter(data, type, row)
                    }
                },
                // -- Formatage du Champ FERMETURE
                {
                    "type": "html", "targets":[5], "visible": true, "searchable": false, className: 'text-center', defaultContent: "",
                        render: function (data, type, row, meta) {
                            return formatDt.TimestampBasicFormatter(data, type, row)
                        }
                },
                // -- Formatage du Champ DELAI
                { "type": "html", "targets": [6], "visible": true, "searchable": true, className: 'text-left', defaultContent: "" },
                // -- Formatage du Champ OPEN
                { "type": "html", "targets": [7], "visible": true, "searchable": true, className: 'text-center', defaultContent: "" },
                // -- Formatage du Champ SL
                { "type": "html", "targets": [8], "visible": true, "searchable": true, className: 'text-center', defaultContent: "" },
                // -- Formatage du Champ TP
                { "type": "html", "targets": [9], "visible": true, "searchable": true, className: 'text-center', defaultContent: "" },
                // -- Formatage du Champ CLOSE
                { "type": "html", "targets": [10], "visible": true, "searchable": false, className: 'text-center', defaultContent: "" },
                // -- Formatage du Champ SIZE
                { "type": "html", "targets": [11], "visible": true, "searchable": false, className: 'text-center', defaultContent: "" },
                // -- Formatage du Champ COUT
                { "type": "html", "targets": [12], "visible": true, "searchable": false, className: 'text-center text-danger', defaultContent: "" },
                // -- Formatage du Champ G/P
                { "type": "html", "targets": [13], "visible": true, "searchable": false, className: 'text-center font-weight-bold', defaultContent: "",
                
                    render: function (data, type, row, meta) {
                            return formatDt.GpFormatter(data, type, row)
                        }
                },
                // -- Formatage du Champ comment
                { "type": "html", "targets": [14], "visible": true, "searchable": false, className: 'text-center', defaultContent: "" },

                
                
                

                // -- Formatage de la colonne ACTION
                /*
                {
                    "targets": [-1], "data": null, className: 'text-center', render: function (data, type, row, meta) {
                        return '<a class="btn btn-danger btn-sm" onclick="modal.promptYesOrNo(\'Voulez-vous supprimer cette Utilisateur ?\', \'action_delete(' + meta.row + ')\')" >' +
                            '<span class="fas fa-trash-alt"></span>' +
                            '</a>' +
                            '<a class="btn btn-warning btn-sm" onclick="modal.promptYesOrNo(\'Voulez-vous envoyer un email à cette Utilisateur ?\', \'action_email(' + meta.row + ')\')" >' +
                            '<span class="fas fa-envelope"></span>' +
                            '</a>' +
                            '<a class="btn btn-info btn-sm" onclick="modal.promptYesOrNo(\'Voulez-vous debloquer le compte de cette utilisateur ?\', \'action_deblock(' + meta.row + ')\')" >' +
                            '<span class="fas fa-key"></span>' +
                            '</a>';
                    }
                }
                */
            ],
        });
    }

</script>

{% endblock %}